@charset "utf-8";
@import "superfish.css";

body {
	background:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	line-height:1.5em;
	background:url(../img/bg_img.png) repeat-x;
}

.container{
	background:#fff;
	margin:10px auto -40px auto;
	max-width:1024px;
	min-width:900px;
	height:auto;
	border:1px solid #ccc;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border-radius:8p box-shadow:0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;	
}

.head{
	padding:10px;
	margin:10px 0px;
}

.logo{
	width:290px;
	height:100px;
	background:url(../img/logo.png) no-repeat;
	float:left;
	margin-top:15px;
	margin-left:30px;
	margin-bottom:-40px;
}

.sontwk{
	float:right;
	width:auto;
	text-align:right;
	padding:8px;
	margin-top:0px;
	font-size:8pt;
	color:#666;
}

.clear{
	clear:both;
}

.uppernav{
	background:#0D87B3 url(../img/nav_img.png) repeat-x;
	padding:5px;
	width:95%;
	font-weight:bold;
	height:30px;
	text-shadow:1px 1px #222;
	margin:-30px auto 10px auto;
	border:1px solid #96c9e0;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border-radius:7px;
	-moz-box-shadow:0 10px 10px #eee;
    -webkit-box-shadow: 0 10px 10px #eee;
	box-shadow: 0 10px 10px #eee;
}
.wrap{
	margin:10px auto;
	padding:20px;
}

.signup{
	margin-top:20px;
}

.slideshow{
	float:right;
	margin:-5px auto;
	width:51%;
	height:auto;
	padding:15px;
	background:#fbfbfb;
	border:2px solid #eee;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border-radius:7px;
	-moz-box-shadow:0 10px 10px #ccc;
    -webkit-box-shadow: 0 10px 10px #ccc;
	box-shadow: 0 10px 10px #ccc;
}



.abtev{
	float:left;
	width:43%;
	padding:5px;
	height:auto;
	border:1px solid #eee;
	-moz-border-radius:7px;
	webkit-border-radius:7px;
	border-radius:7px;
}

.dropcap:first-letter {
	float: left;
	width:auto;
	font-family: Times New Roman, Arial, Verdana, sans-serif;
	font-size:60px;
	color:#208BBF;
	text-shadow:1px 1px #ccc;
	line-height: 40px;
}

.image_float {
	float:left;
	margin:0 3px 5px 0;
	padding:5px
}

.image_right {
	float:right;
	margin:0px 0px 15px 3px;
	padding:3px;
	
}

.readmore{
	padding:5px;
	display:block;
	margin:0px 10px 10px 0px;
	color:#fff;
	background:#1783bd;
	float:right;
	font-weight:bold;
	text-decoration:none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
}

.readmore:hover{
	background:#45afd6;
}

/*folded*/

.note {
    position:relative;
    width:auto;
    padding:1em 1.5em;
    color:#fff;
    overflow:hidden;
	
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
    background:#658E15; /* For when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);

}

.note.blue {background:#0d87b3;}
.note.blue:before {border-color:#fff #fff #ccc #ccc; background:#ccc;}

.note.rounded {
    -webkit-border-radius:5px 0 5px 5px;
    -moz-border-radius:5px 0 5px 5px;
    border-radius:5px 0 5px 5px;
}

.note.rounded:before {
    border-width:8px; /* Triggers a 1px 'step' along the diagonal in Safari 5 (and Chrome 10) */
    border-color:#fff #fff transparent transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}

/*folded end*/

.dashb{
	background:#fbfbfb;
	width:auto;
	padding:7px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.faqsize{
	font-size:11pt;
	text-shadow:1px 1px #ccc;
	font-weight:bold;
}

.sample{margin:30px;border:1px solid #ccc;padding:30px 30px 0 30px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
dl{line-height:170%;margin-bottom:20px}
dl,dt,dd{padding:0;margin:0}
.faqs{padding-top:20px}
.faqs dt{font-weight:bold;background:url(../img/q.png) 0 4px no-repeat;padding:3px 0 15px 30px;position:relative;}
.faqs dt:hover{cursor:pointer}
.faqs dd{background:url(../img/a.png) 0 2px no-repeat;padding:0 0 5px 30px;position:relative;}
.faqs .hover{color:#06C;text-decoration:underline}

.eventImg{
	background:#fff;
	border:2px outset #ccc;
	width:140px;
	height:120px;
}

.panelLeft{
	width:25%;
	float:left;
	padding:10px;
}

.panelRight{
	width:70%;
	float:right;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.panelRight img{
	border:none;
	padding:5px;
}

.rstshow{
	margin:10px auto;
	border:2px solid #F2F2F2;
	width:80%;
	background:#F2F2F2 url(../img/fieldset_img.png) repeat-x;
	padding:20px;
	color:#333;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border-radius:8p box-shadow:0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333
}

.leftside{
	 padding:5px;
	 height:auto;
	 width:48%;
	 float:left;
}

.leftside li{
	margin-left:-30px;
	padding:5px;
	list-style:none;
	border-bottom:1px dotted #09F;
	cursor:pointer;
}

.leftside li:hover{
	background:#45afd6;
	margin-left:-25px;
}

.rightside{
	 float: left;
	 margin: 0px 0px 0px 0px;
	 padding:5px;
	 height:auto;
	 width:48%;
	 display: inline;
}

.rightside li{
	margin-left:-40px;
	padding:5px;
	list-style:none;
	border-bottom:1px dotted #09F;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}


.rightside li:hover{
	background:#fbfbfb;
	color:#333;
	border:none;
}

.centerside{
	 margin: 0px 0px 0px 0px;
	 padding:5px;
	 height: auto;
	 width:32%;
	 float:left;
}
.centerside a{
	text-decoration:none;
	color:#f0f0f0;
}

.centerside a:hover{
	color:#fff;
}


.alignright{
	width:40%;
	float:right;
	padding:5px;
	margin:20px auto 10px auto;
}
.alignright li{
	padding:5px;
	border-bottom:1px dotted #09C;
}

.form{
	width:50%;
	margin:10px 0px;
	float:left;
}

fieldset{
	width:85%;
	margin-top:10px;
	border:none;
	background:#F2F2F2 url(../img/fieldset_img.png) repeat-x;
	padding:20px;
	color:#333;
	font-weight:bold;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border-radius:8p box-shadow:0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333
	
}

fieldset a{
	color:#333;
	text-decoration:none;	
}
fieldset a:hover{
	color:#09F;
	text-decoration:underline;
}

legend{
	background:#fff;
	padding:10px;
	color:#666666;
}
label{
	display:block;
	padding:5px;
	font-weight:bold;
}

.authsign{
	float:left;
	margin-bottom:-20px;
	font-weight:bold;
}

.authsign a{
	color:#069;
	padding:5px;
	text-decoration:none;
}

.authsign a:hover{
	text-decoration:underline;
}
.rst{
	font-size:8pt;
	color:#666;
	background:#fff;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:block;
	margin-bottom:5px;
	padding:8px;
}

.rst:hover{
	background:#fbfbfb;
	border:1px solid #999;
}

.input{
	font-size:11pt;
	color:#666;
	background:#fff;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:block;
	margin-bottom:5px;
	padding:8px;
	width:85%;
}

.input:hover{
	background:#fbfbfb;
	border:1px solid #999;
}

.btt{
	background:#1783bd;
	padding:5px;
	border:none;
	color:#fff;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.btt:hover{
	background:#2b9cd9;
}

.ggl{
	padding:10px;
}

.inputs{
	font-size:10pt;
	color:#666;
	background:#fff;
	margin-top:0px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:5px;
	padding:8px;
}


.listcountry{
	padding:5px;
	margin:10px auto;
	font-size:10pt;
	width:80%;
}

.listR{
	width:46%;
	padding:5px;
	float:right;
}

.listL{
	width:46%;
	padding:5px;
	float:left;
}


.listcountry a{
	text-decoration:none;
	color:#fff;	
	display:block;
}

.listcountry a:hover{
	text-decoration:underline;
}

/*******/

#slider1 {
    width:506px; /* important to be same as image width */
    height: 250px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
	float:right;
	margin-top:-15px;
	
}

#slider1Content {
    width: 95%; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
	margin-left:-40px;
}
.slider1Image span {
    position: absolute;
	font-size:8pt;
    padding: 10px 13px;
    width: 95%;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
	
}

.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 50% !important;
	height: 250px;
}
.right {
	right: 0;
	bottom: 0;
	width: 50% !important;
	height: 230px;
}

/*******************/

.alleventL{
	width:70%;
	padding:5px;
	float:left;
}

.alleventL li{
	list-style:none;
	margin-bottom:5px;
}



.alleventA{
	width:25%;
	float:right;
	padding:5px;
	margin-top:55px;
}

.alleventA li{
	list-style:none;
	padding:5px;
	margin-left:-20px;
}

.alleventA li:hover{
	background:#fbfbfb;
	color:#333;
	cursor:pointer;
}

.eventtitle{
	background:url(../img/nav_img.png) repeat-x;
	padding:10px 5px 5px 5px;
	height:25px;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px #333;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
}

.eventcontent{
	padding:10px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	border:2px dashed #eee;
	border-top:none;
}

.eventcontent:hover{
	background:#fbfbfb;
	cursor:pointer;
}

.eventcontent .imgevt{
	width:auto;
	float:left;
	padding:7px;
}

.eventcontent .detail{
	float:right;
	width:80%;
	padding:5px;
}

.eventcontent .publish{
	float:right;
	text-align:right;
	font-size:8pt;
	font-weight:bold;
	color:#999;
	margin-top:10px;
	display:block;
}

.evt{
	padding-bottom:10px;
	display:block;
}

.evt li{
	list-style:none;
	margin-left:-30px;
}

.evtName{
	font-weight:bold;
}
.catDate{
	font-size:8pt;
}

.wrapfoot{
	margin:5px auto 5px auto;
	padding:20px;
	max-width:1024px;
	min-width:900px;
}

.siteinfo{
	color:#09C;
	font-size:8pt;
	margin-top:100px;
	width:40%;
	float:left;
}

.team{
	margin-top:100px;
	float:right;
	width:55%;
}

.siteinfo a{
	color:#fff;
	padding:5px;
	text-decoration:none;
}

.inforights{
	padding:5px;
	color:#fff;
}

.footer{
	height:200px;
	background: url(../img/footer.png) repeat-x;
	
}